<form (ngSubmit)="onSubmit(enteredTitle.value, enteredRequest.value)" #form>
  <!-- each app-control below declare only one template variable due to only one input in each of them so we wil use  -->

  <app-control label="Title">
    <input type="text" name="title" id="title" #enteredTitle #input />
  </app-control>

  <app-control label="Request">
    <textarea
      name="request"
      id="request"
      rows="3"
      #enteredRequest
      #input
    ></textarea>
  </app-control>

  <p>
    <button appButton>
      Submit
      <span class="icon" ngProjectAs="icon">▶</span>
    </button>
  </p>
</form>
