a {
  text-decoration: none;
  color: #bf9ee5;
}

a:hover,
a:active{
  color: #7647ac;
}

ul {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 50vh;
  overflow: auto;
}
